/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --text-color: #353430;
  --title-color: #353430;
  --bg-color: #FF8DCB;
  --hover-text-color: #353430;
  --hover-header-color: #32312D66;
  --main-title-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #fff1f7;
  --paragraph-color: #353430;
  --shadow-color: #Ff8dcb;
  --main-title-shadow-color: #FF8DCB;
  --hover-text-color: #32312D66;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url(../images/cover-image-light.png);
  background-color: var(--page-bg-color);
}

@media (width >= 1024px) {
  .theme-light .footer__title {
    --main-title-shadow-color: #FF0070;
   text-shadow: 2px 2px 0 var(--main-title-shadow-color);
  }
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --text-color: #353430;
  --title-color: #353430;
  --paragraph-color: #353430;
  --bg-color: #FF8DCB;
  --hover-text-color: #353430;
  --hover-header-color: #32312D66;
  --main-title-color: #FFC2E6;
  --shadow-title: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #fff1f7;
  --shadow-color: #Ff8dcb;
  --main-title-shadow-color: #FF8DCB;
  --hover-text-color: #32312D66;
  }

   .header__rec {
    display: none;
  }
}







